.navBodyHolder {
    margin-left: 5%;
    margin-right: 5%;
}

.fileBox {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: gray;
    margin: 2%, 2%, 2%, 2%;
}

.fileTitleBox {
    margin: 2%, 2%, 2%, 2%;
    background-color: white;
    text-align: center;
}