body { 
    width: 100%;
    height:100%;
    font-family: 'Sans Serif', sans-serif;
    background-size: cover;
    background-image: url(./images/ds.jpg);
}

.body-container {
    margin-bottom: 100px;
}